body {
    background: url('../images/bg-stars.svg') $very-dark-blue;
    height: 100vh;
    @include grid($gt-col: 1fr, $gt-row: 1fr 1fr 198px);
}

header {
    width: 90%;
    margin: 0 auto;
    align-self: center;
    @include mq(med){
        width: 100%;
    }
}

footer {
    background: url('../images/pattern-hills.svg');
    @include flexy($dir: column, $just: flex-end);
}

.attribution {
    color: $color-primary;
    a {
        color: $white;
        text-decoration: none;
    }
}