body {
    background: url('../images/bg-stars.svg') $very-dark-blue;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 198px;
}

header {
    width: 90%;
    margin: 0 auto;
    align-self: center;
    @include mq(med){
        width: 100%;
    }
}

footer {
    background: url('../images/pattern-hills.svg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.attribution {
    color: $color-primary;
    a {
        color: $white;
        text-decoration: none;
    }
}