#clock,
ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin: 0 15px 15px;
    @include mq(med){
        width: 70%;
        margin: 0 auto 20px;
    }
    @include mq(lg){
        max-width: 650px;
        grid-gap: 30px;
    }
}

.clock-face {
    background: $dark-blue;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.3);
    @include mq(med){
        height: 120px;
        font-size: 70px
    }
    @include mq(lg){
        height: 140px;
    }
}
